<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles/style.css" > 
</head>
<body>

    <div class="contact">

        <div class="personalInfo">
            <img >
        
            <div class = "name">
                <p id="firstName">  </p>
                <p id="lastName">  </p>
            </div>
        </div>

            <div class = "phoneNumber">
                <img src = "images/phone-call.png">
                <p id="number">  </p>
            </div>

            <div class="email">
                <img src="./images/envelope.png">
                <p id="email">  </p>
            </div>
            
            <div class="notes">
                <img src="./images/home (1).png">
                <p id="notes">  </p>
            </div>

        
        <div class = "buttons">
            <button class="removeContact"> Delete </button>
            <button class="mergeContact"> Merge </button>
        </div>

    </div>

</body>
</html>