<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone book</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"> 
    <script src="/index.js"></script>
</head>
<body id = "main">
    
<div class = "container" >
    
    <div class = "nav">
    <div class= "search">
        <input id = "searchContact" placeholder = "Search" name = "search" onkeyup="search()">
        <div id="dropdown" class="dropdown"></div>

            <script>
                function search() {
                    const input = document.getElementById('searchContact').value;
                
                    fetch('/search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ input })
                    })
                    .then(response => response.json())
                    .then(results => {
                    const dropdown = document.getElementById('dropdown');
                    dropdown.innerHTML = '';

                    if (results.length > 0) {
                        results.forEach(result => {
                            const option = document.createElement('div');
                            const inp = document.createElement('input',);
                            inp.className = 'dropdownbutton';
                            inp.value = result.name + " " + result.phones;
                            option.appendChild(inp);
                            inp.addEventListener('click', () => {
                            redirectToResultPage(result.id);
                            });
                            dropdown.appendChild(option);
                        });

                        dropdown.style.display = 'block';

                    
                    } else {
                        dropdown.style.display = 'none';
                    }
                    });
                }
                function redirectToResultPage(result) {
                window.location.href = '/contact?contactid=' + encodeURIComponent(result);
                }
            </script>
    </div>
    
    <a class="addContact" href="/createcontactpage">
        <input class="addContact" type="button" value= "Add new contact" />
    </a>
    </div>
    <br>
    <div class = "menu" >
    <h1> CONTACTS </h1>

    <div id = "contactInfo"> 
        <% contactData.forEach(function(contact) { %>
            <span > 
                <a href="/contact?contactid=<%= contact.contactid %>">
                    <input class="contacts" type="button" value=<%= contact.name %> />
                </a>
            </span>
            <br>

        <% }); %>
        
    </div>

   </div>
</div>

</body>
</html>